#container{
    height: 400px;
    width: 400px;
}
.box{
    height: 100px;
    width: 100px;
    background-color: grey;
    border: 2px solid black;
    margin: 2px;
    font-size: 50px;
    display: inline-block;
    border-radius: 10px;
    
}